<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h4>HTML form dynamically</h4>
            <br>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <formly-form [form]="form" [model]="model" [fields]="JSONFields">
                </formly-form>
                <button class="btn btn-primary mr-2" type="submit">
                    Submit
                  </button>

                <button class="btn btn-danger" type="reset">
                    Cancel 
                  </button>
            </form>
            <hr>
            <div>
                The Result: {{model | json}}
            </div>
        </div>
        <div class="col-md-6">
            <h4>JSON Objects</h4>
            <br>
            <div class="form-group">
                <textarea class="form-control" rows="20" (keyup)="onChangeJson($event)" [value]="fields | json"></textarea>
            </div>
        </div>
    </div>
</div>